
/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Header */
header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

/* Navigation */
nav {
    background-color: #444;
    color: yellow;
    padding: 10px;
    text-align: center;
}

nav a {
    color: yellow;
    margin: 0 10px;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

/* Sections */
section {
    padding: 20px;
    margin: 20px 0;
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

/* Container */
.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* Custom Styles */
#title {
    margin: 14px;
    font-weight: bold;
    font-size: 1.2em;
    background-color: white;
}

body {
    font-family: "Times New Roman";
    width: 85%;
    font-size: 200%;
}

p {
    width: 450px;
}

#content {
    margin-left: 160px;
    max-width: 500px;
    position: absolute;
    padding-right: 70px;
    float: left;
    border: 2px solid #555;
    padding: 20px;
    background-color: green;
}

.features {
    height: 100%;
    background-color: green;
    width: 100%;
}

.container {
    position: relative;
    text-align: left;
    color: green;
}

img {
    border-radius: 4px;
    height: auto;
    max-width: 100%;
}

.content-with-image {
    display: flex;
    align-items: center;
}

.content-with-image img {
    margin-right: 20px;
    max-width: 200px;
}

.image-wrapper {
    display: flex;
    align-items: center;
}

.image-wrapper img {
    max-width: 300px;
    max-height: 500px;
    margin-right: 20px;
}
